.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  z-index: 1000;

  &.open {
    left: 0;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 10px;
  }

  &-close {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 3px;
  }

  &-content {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
